@import "tailwindcss";

@theme {
  --font-custom: CustomFont, sans-serif;

  --color-main: #00b488;
  --color-black: #111111;
  --color-gray1: #666666;
  --color-gray2: #a3a3a3;
  --color-gray3: #d9d9d9;
  --color-light-green: #f2faf7;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-search-icon: url("/common/search-icon.png");

  --animate-banner-image: bannerImage 1.8s ease-in-out infinite;
  --animate-card-flip: cardFlip 0.5s linear;
  --animate-card-flip2: cardFlip2 0.5s linear;
  --animate-pulse-auth: pulseAuth 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-arrow: arrow 1s linear infinite alternate;
  --animate-rotate: rotate 15s linear infinite;
  --animate-rotate-reversed: rotateReversed 15s linear infinite;

  @keyframes bannerImage {
    0% {
      transform: translateY(-1rem);
    }
    46.6% {
      transform: translateY(0.75rem);
    }
    100% {
      transform: translateY(-1rem);
    }
  }
  @keyframes cardFlip {
    from {
      transform: rotateY(-90deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  @keyframes cardFlip2 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(90deg);
    }
  }
  @keyframes pulseAuth {
    0% {
      background-image: linear-gradient(
        90deg,
        #f0f0f0 25%,
        #e0e0e0 50%,
        #f0f0f0 75%
      );
    }
    50% {
      background-image: linear-gradient(
        90deg,
        #f0f0f0 25%,
        #f0f0f0 50%,
        #e0e0e0 75%
      );
    }
    100% {
      background-image: linear-gradient(
        90deg,
        #f0f0f0 25%,
        #e0e0e0 50%,
        #f0f0f0 75%
      );
    }
  }
  @keyframes arrow {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateReversed {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  @font-face {
    font-family: "CustomFont";
    src: url("/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "pretendard";
    src: url("/fonts/PretendardVariable.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: light;
    }
  }

  body {
    font-family: "pretendard";
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

/* vertical */
::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(to bottom, #ebe0fa, #cbf6ff);
}

/* horizontal */
::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(to right, #ebe0fa, #cbf6ff);
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: linear-gradient(to bottom, #dad0e9, #bae5ee);
}

::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("/icons/calendar-icon.svg") no-repeat;
  width: 0.75rem;
  height: 0.75rem;
  border-width: thin;
}

@layer components {
  .truncate-vertical-information-title {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }

  .truncate-vertical-diary-content {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  @media (max-width: 1024px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "6";
    }
  }

  @media (max-width: 1000px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "5";
    }
  }

  @media (max-width: 972px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "7";
    }
  }

  @media (max-width: 950px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "6";
    }
  }

  @media (max-width: 910px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "5";
    }
  }

  @media (max-width: 875px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "4";
    }
  }

  @media (max-width: 845px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "5";
    }
  }

  @media (max-width: 820px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "4";
    }
  }

  @media (max-width: 780px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "3";
    }
  }

  @media (max-width: 744px) {
    .truncate-vertical-diary-content {
      -webkit-line-clamp: "5";
    }
  }
}
