.ql-toolbar {
  margin-top: 2.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.ql-container {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* 최소 크기 지정 및 padding 제거 */
.ql-editor {
  padding-top: 1rem;
  padding-left: 1rem;
  min-height: 21.875rem;
  font-size: 1rem;
  line-height: 1.5;
}

.ql-editor.ql-blank::before {
  font-style: normal;
  left: 1rem;
  color: darkgray;
  font-weight: 550;
  font-size: 0.875rem;
}
